package components

templ ErrorComponentMsg(msg string, content templ.Component) {
	<div class="alert alert-danger" role="alert">
		{ msg }
	</div>
	<div id="content">
		@content
	</div>
}

templ ErrorPageMsg(msg string) {
	<div class="alert alert-danger" role="alert">
		{ msg }
	</div>
}
